*{
    margin:none !important;
}
div{
    border: 1px solid black;
}
.gameBoard{
    height: auto !important;
    width: 100%;
}
.gameInfoBar{
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gameFooter{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
.alien,.player{
    height: auto  !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    /* width: 200px; */
    text-align: center;
    background-color: black !important;
}
.alien {
    color: red;
}

.player {
    color: blue;
}
.gameMainSpace{
    height: 400px;
    width: 100%;
    background: url("galaxy.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: gold !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btnActionRetreat,.btnActionAttack{
    color: gold !important;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: black !important;
}
.txtGame{
    border: 1px solid red !important;
}