@keyframes lightning {
    0% {
        background-color: black;
    }
    25% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
    75% {
        background-color: white;
    }
    100% {
        background-color: black;
    }
}

.txtGame.lightning {
    animation: lightning 0.5s ease-in-out;
}

body{
    margin: 0px;
    font-family: "Orbitron", sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
div{
    border: 1px solid black;
    align-items: center;
}
.gameBoard{
    height: auto !important;
    width: 100%;
}
.gameInfoBar{
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.round{
    padding: 20px;
    /* height: 100%; */
    /* width: 100%; */
    background-color: black !important;
    color: firebrick !important;
    font-family: "Orbitron", sans-serif;
font-weight: bolder;
}
.gameFooter{
    
    height: auto;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: black !important;
}
.alien,.player{
    height: auto  !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    border: 1px solid #ccc;
    padding: 10px;
    /* margin: 10px; */
    /* width: 200px; */
    text-align: center;
    background-color: black !important;
}
.alien {
    color: goldenrod;
}

.player {
    color: lightcoral;
}

textarea {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
    color: yellow; /* Text color for visibility */
    font-size: 16px;
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: none; /* Prevent resizing */
    outline: none; /* Remove focus outline */
    box-shadow: none; /* Remove shadow on focus */
}


.gameMainSpace{
    height: 350px;
    width: 100%;
    background: url("galaxy.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: gold !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.btnActionRetreat,.btnActionAttack, .btnNewGame{
    color: gold !important;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: black !important;
    font-family: "Orbitron", sans-serif;
}
.btnNewGame{
    background-color: brown;
    font-family: "Orbitron", sans-serif;
}
.btnActionRetreat:hover,
.btnActionAttack:hover{
cursor: pointer;
}
.txtGame{
    /* border: 1px solid red !important; */
    font-family: "Orbitron", sans-serif;
    font-size: 12px;
}


/*-----------------------------------------------------------------------*/
progress[value] {
    /* Default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
}

/* Chrome and Safari */
progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

progress::-webkit-progress-value {
    background-color: red;
    border-radius: 5px;
}

/* Firefox */
progress::-moz-progress-bar {
    background-color:red;
    border-radius: 5px;
}